<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167044979864-8gtcvdvbnlt8a03v4cp17o6a17hn0ohv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167044979864-8gtcvdvbnlt8a03v4cp17o6a17hn0ohv</string>
	<key>API_KEY</key>
	<string>AIzaSyAJYR5zs3Z7W6Ls9OzdEd4ZjBl3LPIB7xE</string>
	<key>GCM_SENDER_ID</key>
	<string>167044979864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.queuetime</string>
	<key>PROJECT_ID</key>
	<string>queuetime-app</string>
	<key>STORAGE_BUCKET</key>
	<string>queuetime-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167044979864:ios:8c6486b3b9dbfe2e2584ed</string>
</dict>
</plist>